<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs') %>
    
    <link rel="stylesheet" href="css/my.css">

    
    <title>Contact</title>
  </head>
  <body>
      <%- include('partials/nav.ejs', {page: 'contact', user}) %>

    <h1>Contact</h1>
    
<!-- INSERT HTML HERE -->
<div class="container">
	<h2>Password Generator</h2>
	<div class="result-container">
		<span id="result"></span>
		<button class="btn" id="clipboard">
			<i class="far fa-clipboard"></i>
		</button>
	</div>
	<div class="settings">
		<div class="setting">
			<label>Password length</label>
			<input type="number" id="length" min='4' max='20' value='20' />
		</div>
		<div class="setting">
			<label>Include uppercase letters</label> 
			<input type="checkbox" id="uppercase" checked />
		</div>
		<div class="setting">
			<label>Include lowercase letters</label> 
			<input type="checkbox" id="lowercase" checked />
		</div>
		<div class="setting">
			<label>Include numbers</label> 
			<input type="checkbox" id="numbers" checked />
		</div>
		<div class="setting">
			<label>Include symbols</label> 
			<input type="checkbox" id="symbols" checked />
		</div>
	</div>
	<button class="btn btn-large" id="generate">
		Generate password
	</button>
</div>





    <%- include('partials/scripts.ejs') %>

     </body>

</html>